// COLORS
$main-color: #262626;
// $main-color: #fff;
$secondary-color: #53495c;
$third-color: #e0e0e0;
$hover-color: #f7eeff;
$warning-color: #fa1442;
$success-color: #5fd967;

// FONTS
$font-color: #fff;
// $font-color: #262626;
