@use "../../../../scss-global/colors";
@use "../../../../scss-global/general";
.one_level_box {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  .title {
    font-size: 2.5rem;
  }
  .method_informations {
    @include general.method-informations;
    .formula {
      @include general.formula;
    }
    .descriptions {
      @include general.descriptions;
    }
    .descriptions_effects {
      @include general.descriptions-effects;
    }
  }
  .is_info_show {
    padding: 10px 20px;
    border: 2px solid colors.$secondary-color;
    border-radius: 20px;
  }
  .is_info_show:hover {
    background-color: colors.$hover-color;
    color: colors.$main-color;
    cursor: pointer;
  }
  .one_level_options {
    border: 2px solid colors.$secondary-color;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }
}
