@use "../../../scss-global/colors";
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  .section_title {
    width: 100%;
    display: flex;
    margin: 20px 0;
    div {
      border-bottom: 1px solid colors.$secondary-color;
      width: 100%;
    }
  }
  .data {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .data_menu {
      width: fit-content;
      // margin-bottom: 5px;
      border-bottom: none;
      button {
        margin: 0;
        border-radius: 0;
        background-color: colors.$main-color;
        color: colors.$font-color;
      }
      button:hover {
        transition: 300ms;
        background-color: colors.$font-color;
        color: colors.$main-color;
        cursor: pointer;
      }
      .menu_selected {
        background-color: colors.$font-color;
        color: colors.$main-color;
      }
    }
    .display_data {
      width: fit-content;
    }
  }
}
